.container
  .row
    .col-3
    .col-6
      .account-wall
        %img.profile-img{src: "https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"}
        %h3.text-center= @user.email